.modal {
  position: fixed;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &.active {
    display: flex;
  }

  &__blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  &__card {
    padding: 3rem;
    background-color: white;
    border-radius: 2rem;
    max-width: 1250px;
    width: 90%;
    max-height: 95%;
    overflow-y: auto;
    background-position: center;
    background-repeat: none;
    background-size: cover;

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2rem;
      flex-wrap: wrap;

      iframe {
        margin-top: 1rem;
      }
    }

    .type {
      margin-bottom: 1rem;
    }

    .details {
      margin-bottom: 1rem;
    }

    .rated {
      position: relative;
      display: inline-block;
      height: 1em;
    }

    .plot {
      margin-top: 2rem;
    }
  }
}

.blurred {
  filter: blur(5px);
}