@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

@font-face {
  font-family: "Shrimp";
  src: url("/fonts/SHRIMP.ttf");
  font-display: swap;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-family: "Shrimp", sans-serif;
  font-size: 10vw;
}